@use "../base/variable";

.text-inherit {
  color: inherit;
  &:hover {
    color: variable.$theme-color;
  }
}

a.text-theme,
.text-reset {
  &:hover {
    text-decoration: underline;
  }
}

.text-theme {
  color: var(--theme-color);
}