@use '../../base/mixin' as *;
@use '../../base/variable' as *;


.cta-box1 {
    padding: 80px 80px 80px 80px;
    margin-bottom: 130px;
    position: relative;
    z-index: 2;

    .title-area {
        margin-bottom: 0;
    }
}

.cta-box2 {
    margin-top: -390px;
    padding-top: 415px;
    padding-bottom: 150px;
    text-align: center;
    position: relative;
    z-index: 1;

    .play-btn {
        &:before,
        &:after {
            border-color: $white-color;
        }

        &:hover {
            i {
                background-color: $white-color;
                color: $theme-color;
            }
        }
    }
}


.cta-box3 {
    display: flex;
    align-items: center;

    .cta-content {
        flex: 1;
    }
    
    .cta-img {
        margin-left: 88px;
        margin-right: 72px;
        position: relative;
        
        img {
            clip-path: polygon(0 0, calc(100% - var(--clip-gap, 205px)) 0, 100% 100%, var(--clip-gap, 205px) 100%);
            position: relative;
            z-index: 3;
        }
        
        &:after,
        &::before {
            content: '';
            position: absolute;
            left: -50px;
            top: 0;
            bottom: 0;
            width: 94%;
            background-color: $theme-color;
            clip-path: polygon(0 0, calc(100% - var(--clip-gap, 205px)) 0, 100% 100%, var(--clip-gap, 205px) 100%);
            transform: rotateY(180deg);
            z-index: 2;
        }

        &:after {
            opacity: 0.20;
            left: -90px;
            z-index: 1;
            width: calc(94% + 80px);
        }

    }

    .cta-right-img {
        align-self: flex-end;
    }

    .sec-title {
        color: $white-color;
    }

    .sec-text {
        color: $white-color;
        max-width: 512px;
    }

}


@include xl {
    .cta-box1 {
        padding: var(--section-space) 45px;
        margin-bottom: 0;
    }

    .cta-box2 {
        margin-top: -1px;
        padding-top: var(--section-space);
        padding-bottom: var(--section-space);
    }

    .cta-box3 {
        .cta-img {
            margin-left: 0;
            margin-right: 0;
            max-width: 40%;

            &::after,
            &::before {
                display: none;
            }
        }

        .cta-right-img {
            max-width: 20%;
        }
    }


}

@include lg {
    .cta-box1 .title-area {
        margin-bottom: 40px;
    }

    .cta-box3 {
        
        .cta-content {
            padding: $space-mobile 0;
        }

        .cta-img {
            display: none;
        }

        .cta-right-img {
            max-width: 40%;
        }

    }

}

@include md {
    .cta-box2 {
        padding-bottom: var(--section-space-mobile);
        padding-top: var(--section-space-mobile);
    }

    .cta-box3 { 
        display: block;
        text-align: center;

        .cta-content {
            padding-bottom: 40px;
        }

        .cta-right-img {
            max-width: 100%;
        }
    }

    
    .cta-box1 {
        padding: var(--section-space-mobile) 15px;
    }
}