@use '../../base/variable' as *;
@use '../../base/mixin' as *;

.body-bg1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--secondary-color);

    .bg-1 {
        flex: 1;
        height: 100%;
    }

    .bg-2 {
        width: 100%;
        height: 100%;
        max-width: 1320px;
    }
}


.contact-map {
    line-height: 0;

    @include md {
        iframe {
            height: 400px;
        }
    }
}

.brand-style1 {

    .brand-container {
        @media (min-width: 1199px) {
            max-width: var(--main-container);
            margin-left: auto;
            margin-right: auto;
            padding-left: calc(var(--container-gutters) / 2);
            padding-right: calc(var(--container-gutters) / 2);
        }
    }
    
    .brand-inner {
        text-align: center;
        padding: 60px;
    }
}


.bg1-home3 {
    background-position: bottom center;
    background-size: 100% auto;
}


@include xl {
    .body-bg1 {
        .bg-2 {
            max-width: 1050px;
        }
    }
    .bg1-home3 {
        background-size: cover;
    }

}

@include sm {

    .brand-style1 {
        .brand-inner {
            padding: 40px 15px;
        }
    }

}
